
.note{
    display: block;
    left: -730px;
    width: 70px;
    height: 65px;
    border-right: 10px solid darkgrey;
    border-left: 10px solid darkgrey;
    border-top: 20px solid darkgrey;
    position: relative;
    box-sizing: border-box;
    margin: 15px;
    top: -250px;
   
}
.text{
    display: block;
    position: relative;
    font-size: 1.7rem;
    top: -240px;
    width: 100px;
    height: 20px;
    left: -730px;
    color: darkgrey;
  
}
span{
    color: #FF004c;
    animation-name: song;
   
}

.note:before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #FF004c;
    border-radius: 15px;
    position: absolute;
    right: -10px;
    bottom: -19px;
 
}

.note:after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #FF004c;
    border-radius: 15px;
    position: absolute;
    left: -30px;
    bottom: -11px;
   

}

