*{
    margin: 0;
    padding: 0;
}
html{
    background:white; 
    font-size: 62.5%;       
}

#backgroundVideo{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 150%;
    min-height: 100vh;
}
.toggleButton {
    left:20vw; 
    top:20vh;
    transition: 0.8s;
    z-index: 2;
    position:absolute;
    right: 70vw;
    top: 40vh;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    line-height: 11rem;
    color: white;
    font-size: 3.2rem;
    cursor: pointer;
    text-align: center;
    /* box-shadow: -20px -20px 30px 9px #000 inset,0 0 20px 6px rgb(105, 101, 101); */
    box-shadow: -1.5rem -1.5rem 2.5rem 0.4rem wheat inset,0 0 1.5rem 0.3rem rgba(192, 165, 115, 0.89);
    
    
} 
#toggleCheckbox:checked ~ .toggleButton  {
    left:4rem; 
    top:4rem;
    
    
}



input + #toggleCheckbox  {
    position:static;
    animation-name: example;
    animation-duration: 3s;
    animation-fill-mode:forwards;
      
}


@keyframes example {
    0%   {left:24rem; top:24rem;}
    100% {left:2rem; top:2rem;}
  }

.toggleButton2 {
    left:40vw; 
    top:20vh;
    transition: 0.8s;
    z-index: 2;
    position:absolute;
    right: 70vw;
    top: 40vh;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    line-height: 11rem;
    color: white;
    font-size: 3.2rem;
    cursor: pointer;
    text-align: center;
    box-shadow: -1.5rem -1.5rem 2.5rem 0.4rem wheat inset,0 0 1.5rem 0.3rem rgba(192, 165, 115, 0.89);
    } 
#toggleCheckbox2:checked ~ .toggleButton2  {
    left:4rem; 
    top:4rem;
    
}

input + #toggleCheckbox2  {
    position:static;
    animation-name: example1;
    animation-duration: 3s;
    animation-fill-mode:forwards;
      
} 

@keyframes example1 {
    0%   {left:0px; top:10rem;}
    100% {left:0px; top:30rem;}
  } 

 
 .toggleButton3{
    left:60vw; 
    top:20vh;
    transition: 0.8s;
    z-index: 2;
    position:absolute;
    right: 70vw;
    top: 40vh;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    line-height: 11rem;
    color: white;
    font-size: 3.2rem;
    cursor: pointer;
    text-align: center;
    box-shadow: -1.5rem -1.5rem 2.5rem 0.4rem wheat inset,0 0 1.5rem 0.3rem rgba(192, 165, 115, 0.89);
}
#toggleCheckbox3:checked ~ label.toggleButton3  {
    left:4rem; 
    top:4rem;
    
}
input + #toggleCheckbox3  {
    position:static;
    animation-name: example2;
    animation-duration: 3s;
    animation-fill-mode:forwards;
      
} 
@keyframes example2 {
    0%   {left:0px; top:10rem;}
    100% {left:0px; top:30rem;}
  } 

.toggleButton4{
    left:30vw; 
    top:20vh;
    transition: 0.8s;
    z-index: 2;
    position:absolute;
    right: 70vw;
    top: 60vh;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    line-height: 11rem;
    color: white;
    font-size: 3.2rem;
    cursor: pointer;
    text-align: center;
    box-shadow: -1.5rem -1.5rem 2.5rem 0.4rem wheat inset,0 0 1.5rem 0.3rem rgba(192, 165, 115, 0.89);
}
#toggleCheckbox4:checked ~ label.toggleButton4  {
    left:4rem; 
    top:4rem;    
}
input + #toggleCheckbox4  {
    position:static;
    animation-name: example3;
    animation-duration: 3s;
    animation-fill-mode:forwards;
      
} 
@keyframes example3 {
    0%   {left:0px; top:10rem;}
    100% {left:0px; top:30rem;}
  } 

  .toggleButton5{
    left:50vw; 
    top:20vh;
    transition: 0.8s;
    z-index: 2;
    position:absolute;
    right: 70vw;
    top: 60vh;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    line-height: 11rem;
    color: white;
    font-size: 3.2rem;
    cursor: pointer;
    text-align: center;
    box-shadow: -1.5rem -1.5rem 2.5rem 0.4rem wheat inset,0 0 1.5rem 0.3rem rgba(192, 165, 115, 0.89);
}
#toggleCheckbox5:checked ~ label.toggleButton5  {
    left:4rem; 
    top:4rem;    
}
input + #toggleCheckbox5  {
    position:static;
    animation-name: example4;
    animation-duration: 3s;
    animation-fill-mode:forwards;
      
} 
@keyframes example4 {
    0%   {left:0px; top:10rem;}
    100% {left:0px; top:30rem;}
  } 


#toggleCheckbox{
    display: none;
}

#toggleCheckbox2{
    display: none;
}

#toggleCheckbox3{
    display: none;
}

#toggleCheckbox4{
    display: none;
}

#toggleCheckbox5{
    display: none;
}


.toggleButton>img{
    position: static;
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    line-height: 11rem;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: transform 0.25s;    
}
.toggleButton2>img{
    position: static;
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    line-height: 11rem;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: transform 0.25s;    
}
.toggleButton3>img{
    position: static;
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    line-height: 11rem;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: transform 0.25s;    
}
.toggleButton4>img{
    position: static;
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    line-height: 11rem;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: transform 0.25s;    
}
.toggleButton5>img{
    position: static;
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    line-height: 11rem;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: transform 0.25s;    
}


.toggleButton:hover{
transform: scale(1.4);
box-shadow: -1.5rem -1.5rem 2.5rem 0.4rem #000 inset,0 0 1.5rem 0.3rem rgb(105, 101, 101);

}
.toggleButton2:hover{
    transform: scale(1.7);
    box-shadow: -1.5rem -1.5rem 2.5rem 0.4rem #000 inset,0 0 1.5rem 0.3rem rgb(105, 101, 101);
    
}

.toggleButton3:hover{
    transform: scale(1.7);
    box-shadow:-1.5rem -1.5rem 2.5rem 0.4rem #000 inset,0 0 1.5rem 0.3rem rgb(105, 101, 101);
    
}

.toggleButton4:hover{
    transform: scale(1.7);
    box-shadow: -1.5rem -1.5rem 2.5rem 0.4rem #000 inset,0 0 1.5rem 0.3rem rgb(105, 101, 101);
    
}

.toggleButton5:hover{
    transform: scale(1.7); 
    box-shadow: -1.5rem -1.5rem 2.5rem 0.4rem #000 inset,0 0 1.5rem 0.3rem rgb(105, 101, 101);
    
} 
 

.navBackground{
    background-image: radial-gradient(black , darkgray) ;
    width: 11.8rem;
    height: 11.8rem;
    position: relative;
    right: -21vw;
    top: 42vh;
    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

}

.navBackground2{
    background-image: radial-gradient(black, darkgray);/*(#6f71d5, #ec000050) */
    width: 12rem;
    height: 12rem;
    position: relative;
    right: -41vw;
    top: 42vh;
    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

}

.navBackground3{
    background-image: radial-gradient(black, darkgray);/*(#cc29b6, #b42828)*/
    width: 12rem;
    height: 12rem;
    position: relative;
    right: -61vw;
    top: 42vh;
    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

}

.navBackground4{
    background-image: radial-gradient(black, darkgray);/*(#7bd56f, #c01818)*/
    width: 12rem;
    height: 12rem;
    position: relative;
    right: -32vw;
    top: 60vh;
    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

}

.navBackground5{
    background-image:radial-gradient(black ,darkgray);/*(#5c0250, #b42828)*/
    width: 12rem;
    height: 12rem;
    position: relative;
    right: -52vw;
    top: 60vh;
    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

}


#toggleCheckbox:checked ~ .navBackground{
transform: scale(80);
z-index: 4;
}

#toggleCheckbox:checked ~ .toggleButton,.nav{
    z-index: 4;
}


#toggleCheckbox2:checked ~ .navBackground2,.nav{
    transform: scale(80);
    z-index: 4;
    
}
#toggleCheckbox2:checked ~ .toggleButton2{
    z-index: 4;
}





#toggleCheckbox3:checked ~ .navBackground3{
    transform: scale(80);
    z-index: 4;
    
}
#toggleCheckbox3:checked ~ .toggleButton3{
    z-index: 4;
}


#toggleCheckbox4:checked ~ .navBackground4{
    transform: scale(80);
    z-index: 4;
    
}
#toggleCheckbox4:checked ~ .toggleButton4{
    z-index: 4;
}

#toggleCheckbox5:checked ~ .navBackground5{
    transform: scale(80);
    z-index: 4
    
}
#toggleCheckbox5:checked ~ .toggleButton5{
    z-index: 4;
}

.navcontainer{
    color: wheat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 0%;
}

.navcontainer2{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    color: wheat;
    top: 0%;

}

.navcontainer3{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    color: wheat;
top: 0%;
}

.navcontainer4{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    color: wheat;
top: 0%;
}

.navcontainer5{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    color: wheat;
top: 0%;
}
.nav{
    color: rgba(192, 165, 115, 0.89);
    display: none;
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 295px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.nav2{
    display: none;
    position: absolute;
    color: rgba(192, 165, 115, 0.89);
    z-index: 2;
    width: 100px;
    height: 295px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.nav3{
    display: none;
    position: absolute;
    color: rgba(192, 165, 115, 0.89);
    z-index: 2;
    width: 100px;
    height: 295px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.nav4{
    display: none;
    position: absolute;
    color: rgba(192, 165, 115, 0.89);
    z-index: 2;
    width: 100px;
    height: 295px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.nav5{
    display: none;
    position: absolute;
    color: rgba(192, 165, 115, 0.89);
    z-index: 2;
    width: 100px;
    height: 295px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#toggleCheckbox:checked ~ .nav{
    display: block;
    z-index: 5;
}


#toggleCheckbox2:checked ~ .nav2{
    display: block;
    z-index: 5;
}

#toggleCheckbox3:checked ~ .nav3{
    display: block;
    z-index: 5;
}

#toggleCheckbox4:checked ~ .nav4{
    display: block;
    z-index: 5;
}

#toggleCheckbox5:checked ~ .nav5{
    display: block;
    z-index: 5;
    

}



.loaderContainer {
    position: absolute;
    width: 157px;
    height: -10px;
    left: 3.5px;
    top: 3.5px;
    display: inline-block;
    opacity: 0;
 
 } 

.toggleButton5:hover > .loaderContainer {
   display: inline-block;
   opacity: 1;
   transform: scale(1.1); 

} 

.loaderContainer1 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 12px;
    top: 5px;
    display: inline-block;
    opacity: 0;
 
 } 

.toggleButton4:hover > .loaderContainer1 {

    display: inline-block;
    opacity: 1;
    transform: scale(1.1); 

 } 

 .loaderContainer2 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 12px;
    top: 9px;
    display: inline-block;
    opacity: 0;
 
 } 

.toggleButton3:hover > .loaderContainer2 {

    display: inline-block;
    opacity: 1;
    transform: scale(1.1); 
 
 } 

 .loaderContainer3 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 12px;
    top: 9px;
    display: inline-block;
    opacity: 0;
 
 } 

.toggleButton2:hover > .loaderContainer3 {

    display: inline-block;
    opacity: 1;
    transform: scale(1.1); 
 
 } 
 .loaderContainer4 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 12px;
    top: 8px;
    display: inline-block;
    opacity: 0;

 } 

.toggleButton:hover > .loaderContainer4 {
    
    display:inline-block;
    opacity: 1;
    transform: scale(1.1);
    overflow: visible;
    z-index: 9999;

 } 




.dot{
    display:block;
    position: absolute;
    width: 6px;
    height: 6px;
    left: calc(12% - 5px);
    top: 10px;
    border-radius: 50px;
    background-color: rgba(192, 165, 115, 0.89);
    transform-origin: 60px 60px;
    animation: rotate;
    animation-iteration-count: infinite;
    animation-duration: 1.4s;
}
@keyframes rotate{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(359deg);
    }
}
.d2{
    animation-delay: 0.1s;
}
.d3{
    animation-delay: 0.2s;
}
.d4{
    animation-delay: 0.3s;
}
.d5{
    animation-delay: 0.4s;
}
.d6{
    animation-delay: 0.5s;
}
.d7{
    animation-delay: 0.6s;
}
.d8{
    animation-delay: 0.7s;
}
.d9{
    animation-delay: 0.8s;
} 

  
*{
    float: left;
    width: 100%; 
  }
  

@media only screen and (max-width: 768px) {
/* .navcontainer  .navcontainer2 .navcontainer3 .navcontainer4 .navcontainer5{
     display: flex;
     flex-direction:column; */

     #backgroundVideo{
         position: fixed;
         top: 0
     }

 
}

@media only screen and (max-width: 700px) {
.main{
         display: flex;
         flex-direction:column;
         flex-wrap: wrap
     
    }
    .main>div{
        float: none;
        position: static;
        height: auto
    }
    .toggleButton,.toggleButton2,.toggleButton3,.toggleButton4,.toggleButton5{
        position: static;
    }
    video{
        display: none;
    }
       .toggleButton{
        position: absolute;
        z-index: 2px;
        top:10px;
        left: 150px

       }
       .toggleButton2{
        position: absolute;
        z-index: 2px;
        top:180px;
        left: 150px
       }
    
       .toggleButton3{
        position: absolute;
        z-index: 2px;
        top:350px;
        left:150px
       }
       .toggleButton4{
        position: absolute;
        z-index: 2px;
        top:530px;
        left: 150px
       }
       .toggleButton5{
        position: absolute;
        z-index: 2px;
        top:730px;
        left:150px
       }
       
    }