*{
    padding: 0%;
    margin: 0%;
}
.frame li{
    height: 220px;
    width: 320px;
    border: darkgreen solid 15px;
    float: left;

}
.img{
float: right;
position: relative;
top: 10%;

}
.p1{
position: relative;
right: 150px;
box-shadow: 15 10px 10px 10px rgba(0, 0, 0, 0.2), 10 10px 20px 10 rgba(0, 0, 0, 0.19);
top: 20%;
border: darkgreen solid 15px;

}
.p2{
    position: absolute;
    right: 260px;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    top: 50%;
    bottom: 0%;
    border: darkgreen solid 15px;

}
.p3{
position: absolute;
right: 20px;
box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
top: 50%;
border: darkgreen solid 15px;

}
#hov1:hover{
transform: scale(1.2);
transition-duration: 1s;
}
#hov2:hover{
    transform: scale(1.2);
    transition-duration: 1s;

}
#hov3:hover{
    transform: scale(1.2);
    transition-duration: 1s;
    }

h3{
height: 15px;
margin-top: 8%;
text-align: center;
font-size: 25px;
color: darkgreen;
}

.content{
    padding-top: 5%;
    float: left;
    text-align: justify;
    float: none;
    margin-right: 50%

}

