.loader{
    position: absolute;
    display:inline-block;
    width: 200px;
    height: 200px;
    z-index: 1000;

}
/* .loader:hover{
    position: absolute;
    display: inline-block;
    background-color:green; 
    z-index: 1000;

} */

 .loaderContainer{

        position: absolute;
        width: 120px;
        height: 120px;
        right: 40vw;
        top: 60vh;
        display: inline-block;
        z-index: 1000;
        opacity: 0;
} 

.loaderContainer:hover{

    position: absolute;
    width: 120px;
    height: 120px;
    right: 40vw;
    top: 60vh;
    display: inline-block;
    z-index: 1000;
    opacity: 100;
}  



.dot{
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    left: calc(80% - 5px);
    top: 100px;
    border-radius: 50px;
    background-color: rgb(243, 52, 52);
    transform-origin: 50px 80px;
    animation: rotate;
    animation-iteration-count: infinite;
    animation-duration: 1.4s;
}
@keyframes rotate{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(359deg);
    }
}
.d2{
    animation-delay: 0.1s;
}
.d3{
    animation-delay: 0.2s;
}
.d4{
    animation-delay: 0.3s;
}
.d5{
    animation-delay: 0.4s;
}
.d6{
    animation-delay: 0.5s;
}
.d7{
    animation-delay: 0.6s;
}
.d8{
    animation-delay: 0.7s;
}
.d9{
    animation-delay: 0.8s;
}
