.animatedDiv{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: multiMove;

    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes oneMove{ 
from{
top: 0;
left: 0;
background-color:red;
opacity: 0;

}

to{ 
 top: 200px;
 left: 500px;  
 background-color:blue;
 transform: scale(2) 
}

}

@keyframes multiMove{
 0%{
     top:0;
     left:0;
 }   
 25%{
     top:0;
     left:200px;
 }
 50%{
     top:200px;
     left:200px;
 }
 75%{
     top:200px;
     left:0;

 }
 100%{
     top:0;
     left:0;
 }

}