.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "panner panner panner panner" 
    "sidebar content content content"
    " footer footer footer footer";
    height:100vh;
    grid-template-rows: 20% auto 20%;
    grid-gap: 10px;
    padding: 10px ;
    background-color: black;
    float:   

}

.panner{
    grid-area: panner;
    background-color: aqua;
}
.sidebar{
    grid-area: sidebar;
    background-color: rebeccapurple;
}
.content{
    grid-area: content;
    background-color: aquamarine;
 
}
.footer{
    grid-area: footer;
    background-color:  yellowgreen;

}