*{

}

#togglebox{
display: none;
  
}
.toggleButton{
    position: absolute;
    right: 35px;
    top: 20px;
    background-color: rgb(190, 177, 177);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    box-shadow: 1px 1px 10px black;
    text-align: center;
    transition: transform 0.8s;
}

.toggleButton:hover{
    transform: scale(1.2);
    box-shadow: 1px 1px 5px black;
}
.navbackground{
    background-color: green;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 35px;
    top: 20px;
    border-radius: 50%;
    transition-duration: 2s;
    transition: width 2s , height 2s;
}
#togglebox:checked + .navbackground{
    transform: scale(100); 


}
.navcontainer{
width: 100vw;
height: 100vh;
position: absolute;
overflow: hidden;
}

.ul{
    text-align: center;
    display: inline;
    position: absolute;
    float:right
}

#toggle
