a[target]{
    color: red;
}

input[type=checkbox]:checked{
    outline:1px solid rgb(241, 19, 19);
}

div{
    border: 1px coral solid;
 }
.togglebox:checked{
    outline: 1px solid red;
}

.togglebox:not(:checked) + div{
    display:none;
}