.pagehead{
    color: #ff0000;
    background-color: rgba(0, 0, 255,0.5);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 5px;
    height: 90vh;
    clip-path: polygon(00,100%,0);    
}

.pagehead + p {
    text-align: justify;
    text-indent: 20px;
    letter-spacing: 3px;
    word-spacing: 20px ;
    line-height: 30px;
    direction: ltr;
    font-size: 2vw;

}