*{
    margin: 0;
    padding: 0;
}
.main{
display: flex;
flex-wrap: wrap;

}
.panner{
    flex-basis: 100%;
    background-color: red;
    height: 60vh;
    margin-bottom: 10px;
}
.div2{
    flex-basis: 100%;
    background-color: green;
    height: 30vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.div2>div{
    background-color: yellow;
    width: 20VW;
    height: 20vh;
    margin: 10px;
}
.sidebar{
    width: cslc(25% - 10px ) ;
    height: 50vh;
    background-color: aqua;
    margin-right:10px; 
    flex-shrink: 1
}
.content{
    width: 75%;
    height: 50vh;
    background-color: rgb(145, 102, 49);
}
.footer{
width: 100;
background-color: blue;
height: 200px;
}