*{
    margin: 0;
    padding: 0;
}
.nav{
    list-style-type: none;
    background-color: aqua;
    height: 50px;
    align-items: center
}
.nav a{
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: capitalize;
    color: wheat;
    margin: 10px;
    display: block;
    text-align: center
}
.nav > li{
    margin-right: 10px;
    margin: 5px;
    float: left;
    background-color: #333;
    height: 40px;
    box-shadow: 5px 5px 5px #555;
    min-width: 150px;
}

    .drop {
        position: relative;
        display: inline-block;
        
      }
      
      .drop-content {
        display: none;
        position: absolute;
        text-align: center;
      }
      
      .drop:hover .drop-content {
        display: block;
       list-style-type: none;
       background-color: rgb(172, 160, 52); 
border-radius: 0 50px 0 50px  ;
overflow: hidden;
height: 150px;
width:150px;

}
.drop-content>li>a{
background-color: black;

    }

.nav >li:last-child{
    float: right;
    background-color: green
}
.nav>li:first-child{
    margin-left: 10px
}
.nav>li:hover{
    box-shadow: 1px 1px 10px #222
}
.navli:hover a{
    font-size: 21px
}
#togglecheckbox{
    display: none
}
.togglebox label{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #cccccc;
    display: none
}
.togglebox label span{
    width: 40px;
    left: 5px;
    height: 1px;
    background-color: #333;
    position: absolute;
    transition: transform .5s
}
.togglebox label span:nth-child(1){
    top: 10px
}
.togglebox label span:nth-child(2){
    top: 25px
}
.togglebox label span:nth-child(3){
    top: 40px
}
#togglecheckbox:checked ~ .nav{
    /*display: block*/
    height: 235px
}
#togglecheckbox:checked ~ .togglebox label span:nth-child(2){
    display: none
}
#togglecheckbox:checked ~ .togglebox label span:nth-child(1){
    transform: rotate(45deg);
    top: 25px
}
#togglecheckbox:checked ~ .togglebox label span:nth-child(3){
    transform: rotate(-45deg);
    top: 25px
}
​
@media(max-width: 821px){
    .nav li{
        width: 100%
    }
    .nav li:first-child{
        margin-left: 0
    }
    .nav li:last-child{
        float: left
    }
    .nav{
        height: 235px;
        /*display: none*/
        height: 0;
        overflow: hidden;
        transition: height 1s cubic-bezier(.23, 1, .32, 1)
    }
    .togglebox label{
        display: block;
    }
