*{
    margin: 0;
    padding: 0;
}
html{
    background-color: black;
    
}
#toggleCheckbox{
    display: none;
}

#toggleCheckbox2{
    display: none;
}

#toggleCheckbox3{
    display: none;
}

#toggleCheckbox4{
    display: none;
}

#toggleCheckbox5{
    display: none;
}

.toggleButton{
    position: absolute;
    right: 70vw;
    top: 40vh;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 110px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    /* box-shadow: -20px -20px 30px 9px #000 inset,0 0 20px 6px rgb(105, 101, 101); */
    box-shadow: -15px -15px 25px 4px #000 inset,0 0 15px 3px rgb(124, 121, 121);
    transition: transform 0.25s;    
}


.toggleButton2{
    position: absolute;
    right: 50vw;
    top: 40vh;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 110px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    /* box-shadow: -20px -20px 30px 9px #000 inset,0 0 20px 6px rgb(105, 101, 101); */
    box-shadow: -15px -15px 25px 4px #000 inset,0 0 15px 3px rgb(124, 121, 121);
    text-align: center;
    transition: transform 0.25s;
}

.toggleButton3{
    position: absolute;
    right: 30vw;
    top: 40vh;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 110px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    /* box-shadow: -20px -20px 30px 9px #000 inset,0 0 20px 6px rgb(105, 101, 101); */
    box-shadow: -15px -15px 25px 4px #000 inset,0 0 15px 3px rgb(124, 121, 121);
    text-align: center;
    transition: transform 0.25s;
}

.toggleButton4{
    position: absolute;
    right: 60vw;
    top: 60vh;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 110px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    /* box-shadow: -20px -20px 30px 9px #000 inset,0 0 20px 6px rgb(105, 101, 101); */
    box-shadow: -15px -15px 25px 4px #000 inset,0 0 15px 3px rgb(124, 121, 121);

    text-align: center;
    transition: transform 0.25s;
}

 .toggleButton5{
    position: absolute;
    right: 40vw;
    top: 60vh;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 110px;
    color: white;
    font-size: 2rem;
    cursor: pointer; 
    box-shadow: -15px -15px 25px 4px #000 inset,0 0 15px 3px rgb(124, 121, 121);
    text-align: center;
    transition: transform 0.25s;
}

.toggleButton>img{
    position: static;
    right: 70vw;
    top: 40vh;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 110px;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: transform 0.25s;    
}
.toggleButton2>img{
    position: static;
    right: 70vw;
    top: 40vh;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 110px;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: transform 0.25s;    
}
.toggleButton3>img{
    position: static;
    right: 70vw;
    top: 40vh;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 110px;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: transform 0.25s;    
}
.toggleButton4>img{
    position: static;
    right: 70vw;
    top: 40vh;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 110px;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: transform 0.25s;    
}
.toggleButton5>img{
    position: static;
    right: 70vw;
    top: 40vh;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 110px;
    color: white;
    cursor: pointer;

    text-align: center;
    transition: transform 0.25s;    
}






.toggleButton:hover{
transform: scale(1.2);
box-shadow: -15px -15px 25px 4px #000 inset,0 0 15px 3px rgb(105, 101, 101);

}
.toggleButton2:hover{
    transform: scale(1.2);
    box-shadow: -15px -15px 25px 4px #000 inset,0 0 15px 3px rgb(105, 101, 101);
    
}

.toggleButton3:hover{
    transform: scale(1.2);
    box-shadow: -15px -15px 25px 4px #000 inset,0 0 15px 3px rgb(105, 101, 101);
    
}

.toggleButton4:hover{
    transform: scale(1.2);
    box-shadow: -15px -15px 25px 4px #000 inset,0 0 15px 3px rgb(105, 101, 101);
    
}

.toggleButton5:hover{
    transform: scale(1.2); 
    box-shadow: -15px -15px 25px 4px #000 inset,0 0 15px 3px rgb(105, 101, 101);
    
} 
 

.navBackground{
    background-image: radial-gradient(#000000, #ce1212);
    width: 120px;
    height: 120px;
    position: absolute;
    right: 70vw;
    top: 40vh;
    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

}

.navBackground2{
    background-image: radial-gradient(black, #ec000050);/*(#6f71d5, #ec000050) */
    /*background-image: url('./imgs/omar.jpeg');*/
    width: 120px;
    height: 120px;
    position: absolute;
    right: 50vw;
    top: 40vh;
    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

}

.navBackground3{
    background-image: radial-gradient(black, #b42828);/*(#cc29b6, #b42828)*/
    width: 120px;
    height: 120px;
    position: absolute;
    right: 30vw;
    top: 40vh;
    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

}

.navBackground4{
    background-image: radial-gradient(black, #c01818);/*(#7bd56f, #c01818)*/
    width: 120px;
    height: 120px;
    position: absolute;
    right: 60vw;
    top: 60vh;
    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

}

.navBackground5{
    background-image:radial-gradient(black, #b42828);/*(#5c0250, #b42828)*/
    width: 120px;
    height: 120px;
    position: absolute;
    right: 40vw;
    top: 60vh;
    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

}


#toggleCheckbox:checked ~ .navBackground{
transform: scale(80);

}

#toggleCheckbox2:checked ~ .navBackground2{
    transform: scale(80);
    
}

#toggleCheckbox3:checked ~ .navBackground3{
    transform: scale(80);
    
}

#toggleCheckbox4:checked ~ .navBackground4{
    transform: scale(80);
    
}

#toggleCheckbox5:checked ~ .navBackground5{
    transform: scale(80);
    
}

.navcontainer{
    color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.navcontainer2{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.navcontainer3{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.navcontainer4{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.navcontainer5{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}
.nav{
    display: none;
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 295px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.nav2{
    display: none;
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 295px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.nav3{
    display: none;
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 295px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.nav4{
    display: none;
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 295px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.nav5{
    display: none;
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 295px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#toggleCheckbox:checked ~ .nav{
    display: block;
}


#toggleCheckbox2:checked ~ .nav2{
    display: block;
}

#toggleCheckbox3:checked ~ .nav3{
    display: block;
}

#toggleCheckbox4:checked ~ .nav4{
    display: block;
}

#toggleCheckbox5:checked ~ .nav5{
    display: block;
    

}



.loaderContainer {
    position: absolute;
    width: 95px;
    height: 95px;
    left: -52px;
    top: -.7px;
    display: inline-block;
    opacity: 0;
 
 } 

  .toggleButton5:hover > .loaderContainer {

   display: inline-block;
   opacity: 1;
   transform: scale(1.1); 

} 

.loader{
    position:  absolute;
    display: inline-block;
    width: 120px;
    height: 120px;
    z-index: 1000;

}
.loaderContainer1 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 5px;
    top: -.9px;
    display: inline-block;
    opacity: 0;
 
 } 

.toggleButton4:hover > .loaderContainer1 {

    display: inline-block;
    opacity: 1;
    transform: scale(1.1); 
 
 } 

 .loaderContainer2 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 5px;
    top: -.9px;
    display: inline-block;
    opacity: 0;
 
 } 

.toggleButton3:hover > .loaderContainer2 {

    display: inline-block;
    opacity: 1;
    transform: scale(1.1); 
 
 } 

 .loaderContainer3 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 5px;
    top: -.9px;
    display: inline-block;
    opacity: 0;
 
 } 

.toggleButton2:hover > .loaderContainer3 {

    display: inline-block;
    opacity: 1;
    transform: scale(1.1); 
 
 } 
 .loaderContainer4 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 5px;
    top: -.9px;
    display: inline-block;
    opacity: 0;
 
 } 

.toggleButton:hover > .loaderContainer4 {

    display: inline-block;
    opacity: 1;
    transform: scale(1.1); 
 
 } 




.dot{
    display:block;
    position: absolute;
    width: 6px;
    height: 6px;
    left: calc(12% - 5px);
    top: 10px;
    border-radius: 50px;
    background-color: white;
    transform-origin: 50px 50px;
    animation: rotate;
    animation-iteration-count: infinite;
    animation-duration: 1.4s;
}
@keyframes rotate{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(359deg);
    }
}
.d2{
    animation-delay: 0.1s;
}
.d3{
    animation-delay: 0.2s;
}
.d4{
    animation-delay: 0.3s;
}
.d5{
    animation-delay: 0.4s;
}
.d6{
    animation-delay: 0.5s;
}
.d7{
    animation-delay: 0.6s;
}
.d8{
    animation-delay: 0.7s;
}
.d9{
    animation-delay: 0.8s;
} 
