*{
    padding: 0;
    margin: 0;
}
.father{
    position: relative;
    left: 100px;
    top: 100px;
    background-color: brown;
}
.subDiv{
    padding: 50px;
    background-color: green;
}
.someClass{
    position: relative;
    background-color: burlywood;
    width: 100px;
    left: 50px;
    top: 10px;
    
}
.gotop{
    position: fixed;
    right: 5px;
    bottom: 5px;

}