.parallax{
    width: 100%;
    height: 400px;
}


.parallax{
    height: 200px;
    overflow-y: scroll;
    background-image: url('../background1page.jpg');
    background-position-x: 40%;
    background-position-y: 60%;
    scrollbar-width: none;   

}
.parallax::-webkit-scrollbar{
    display: none;
}
.parallax p { 
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.6)
}
