.someClass{
    width: 200px;
    height: 200px;
    background-color: red;
    display: none;
}
.inlineDiv{
    
    background-color: brown;
    margin: 5px;
    display: inline;    
}
.inlineblockDiv{
    width: 60px;
    height: 60px;
    background-color: brown;
    margin: 5px;
    display: inline-block;    
}